@media (min-width: 400px) {

    body {
        background: hsl(148, 38%, 91%);
    }

    #wrapper {
        background: hsl(0, 0%, 100%);
        width: 400px;
        margin: 3em auto;
        padding: 1em;
        border-radius: .5em;
    }

    .enquiry {
        display: flex;
        gap: 1em;
    }

    .name {
        display: flex;
        gap: 1em;
    }

    .enquiry-1,
    .enquiry-2 {
        font-size: .8em;
    }

    .validfname,
    .validlname {
        display: none;

    }

    .valudname {
        display: flex;
        gap: 7em;
    }
}