@media (min-width: 400px) {

    body {
        background: hsl(148, 38%, 91%);
    }

    #wrapper {
        background: hsl(0, 0%, 100%);
        width: 400px;
        margin: 3em auto;
        padding: 1em;
        border-radius: .7em;
    }

    .enquiry {
        display: flex;
        gap: 1em;
    }

    .name {
        display: flex;
        gap: 1em;
    }

    .enquiry-1,
    .enquiry-2 {
        font-size: .8em;
    }

    .validfname,
    .validlname {
        display: none;

    }

    .valudname {
        display: flex;
        gap: 7em;
    }

    .success-message {
        padding: .5em;
        background: hsl(187, 24%, 22%);
        border-radius: .6em;
        position: absolute;
        top: -50px;
        left: 32em;
        width: 300px;
    }

    .message-w {
        display: flex;
        gap: .8em;

    }

    .message {
        color: #fff;
        margin-top: .4em;
        width: 100%;
        font-size: .8em;
    }

    .message-word {
        color: hsl(148, 38%, 91%);
        font-size: .7em;
    }
}