@media (min-width: 400px) {

    .name,
    .enquiry {
        display: flex;
        gap: 40px;
    }

    .validfname,
    .validlname {
        display: none;

    }

    .valudname {
        display: flex;
        gap: 7em;
    }
}